* {
    background-color: #f3f5fc;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    margin-left: 15px;
}

.intro h1 {
    color: #0A3871;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
}

.intro h2 {
    font-weight: 400;
    color: rgb(73, 88, 87, 0.5);
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 20px;
}

.main_encriptador {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    width: 90%;
    margin: 0 auto;
    height: 90%;
}

@media (min-width: 1242px) {
    .btn-copiar {
        width: 280px;
        height: 60px;
        margin: 0 auto;
        margin-top: 25px;
        margin-left: 120px;
        color: #0A3871;
        border-radius: 24px;
        border: 1px solid #0A3871;
        position: absolute;
        top: 65%;
    }
    .mensaje {
        border: none;
        background: white;
        color: rgb(10, 56, 113);
        margin-top: 20px;
        padding-top: 10px;
        padding-left: 10px;
        background-image: url(../EncriptadorAlura/img/encriptado.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
        border-radius: 24px;
        margin-left: 98px;
    }
}

@media (max-width: 1241px) {
    .main_encriptador {
        flex-direction: column;
    }
    .btn-copiar {
        width: 50%;
        height: 60px;
        margin-top: 25px;
        margin-left: 5%;
        color: #0A3871;
        border-radius: 24px;
        border: 1px solid #0A3871;
    }
    .mensaje_desencriptado {
        display: flex;
        flex-direction: column;
    }
    .mensaje {
        width: 85%;
        border: none;
        background: white;
        color: rgb(10, 56, 113);
        margin-top: 20px;
        padding-top: 10px;
        padding-left: 15px;
        background-image: url(../EncriptadorAlura/img/encriptado.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20%;
        border-radius: 24px;
    }
}

.text_area_fields {
    border: none;
    color: #0A3871;
    margin-top: 25px;
    text-transform: lowercase;
    width: 90%;
}

.text_area_fields:focus {
    outline: none;
}

.mensaje:focus {
    outline: none;
}

.informacion {
    font-size: 18px;
    color: #495857;
    margin: 0 auto;
    margin-bottom: 25px;
}

.botones {
    display: flex;
    gap: 25px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 642px) {
    .botones {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    .btn-copiar {
        width: 75%;
        height: 60px;
        margin: 0 auto;
        margin-top: 25px;
        color: #0A3871;
        border-radius: 24px;
        border: 1px solid #0A3871;
    }
    .mensaje {
        border: none;
        background: white;
        color: rgb(10, 56, 113);
        margin-top: 20px;
        margin: 0 auto;
        background-image: url(../EncriptadorAlura/img/encriptado.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 45%;
        border-radius: 24px;
    }
    .btn-desencriptar {
        min-width: 250px;
        margin-bottom: 25px;
    }
    .btn-encriptar {
        min-width: 250px;
    }
}

.btn-encriptar {
    background: rgb(10, 56, 113);
    color: #f3f5fc;
    border-radius: 24px;
    border: none;
    width: 50%;
    height: 65px;
}

.btn-encriptar:hover {
    cursor: pointer;
}

.btn-desencriptar {
    color: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    width: 50%;
    height: 65px;
}

.btn-desencriptar:hover {
    cursor: pointer;
}

@media (max-width: 1241px) {
    .btn-encriptar {
        max-width: 250px;
    }
    .btn-desencriptar {
        max-width: 250px;
    }
    .botones {
        margin: 0 auto;
    }
    .btn-copiar {
        max-width: 250px;
    }
}

.mensaje_desencriptado {
    display: flex;
    flex-direction: column;
}

.btn-copiar:hover {
    cursor: pointer;
}