body {
    font-family: 'Open Sans', sans-serif;
}

.intro h1 {
    text-align: center;
}

.intro p {
    padding-bottom: 2em;
}

.main_encriptador {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    margin-left: 15px;
}

.text_area_fields {
    width: 50%;
    margin-bottom: 10px;
}

.boton {
    width: 150px;
}