* {
    background-color: #f3f5fc;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    margin-left: 15px;
}

.intro h1 {
    color: #0A3871;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
}

.main_encriptador {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .main_encriptador {
        flex-direction: column;
    }
    .btn-copiar {
        width: 50%;
        height: 60px;
        margin: 0 auto;
        margin-top: 25px;
        margin-left: 120px;
        color: #0A3871;
        border-radius: 24px;
        border: 1px solid #0A3871;
    }
    .mensaje_desencriptado {
        display: flex;
        flex-direction: column;
    }
}

.text_area_fields {
    border: none;
    color: #0A3871;
    margin-top: 25px;
    text-transform: lowercase;
    width: 100%;
}

.text_area_fields:focus {
    outline: none;
}

.mensaje {
    border: none;
    background: white;
    color: rgb(10, 56, 113);
    margin-top: 20px;
    background-image: url(/img/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    border-radius: 24px;
    margin-left: 98px;
}

.mensaje:focus {
    outline: none;
}

.informacion {
    font-size: 18px;
    color: #495857;
}

.botones {
    display: flex;
    gap: 25px;
}

.btn-encriptar {
    background: rgb(10, 56, 113);
    color: #f3f5fc;
    border-radius: 24px;
    border: none;
    width: 328px;
    height: 65px;
}

.btn-encriptar:hover {
    cursor: pointer;
}

.btn-desencriptar {
    color: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    width: 328px;
    height: 65px;
}

.btn-desencriptar:hover {
    cursor: pointer;
}

.mensaje_desencriptado {
    display: flex;
    flex-direction: column;
}

.btn-copiar {
    width: 320px;
    height: 60px;
    margin: 0 auto;
    margin-top: 25px;
    margin-left: 120px;
    color: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    position: absolute;
    top: 75%;
    left: 5;
}

.btn-copiar:hover {
    cursor: pointer;
}